<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDc37DT_IIP9O0NFX0sJceNacpRyjajPbc</string>
	<key>GCM_SENDER_ID</key>
	<string>1021305022158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lennywandeto.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chatappattemptt</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappattemptt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021305022158:ios:eace3e29b723a40ddb129f</string>
</dict>
</plist>